{% extends "_base.njk" %}
{% from "macros/trailCard.njk" import trailCard %}

{% block header %}
  <h1>Browse Trails</h1>
{% endblock header %}

{% block content %}
  {% for trail in trails %}
    {{ trailCard(trail) }}
  {% endfor %}
{% endblock content %}
