{% extends "_base.njk" %}

{% block header %}
  <h1>Browse Trails</h1>
{% endblock header %}

{% block content %}
  <ul class="container" style="list-style: none;">
    {% for trail in trails %}
      <li style="list-style: none;">
        <article>
          <p><strong>{{ trail.title }}</strong></p>
          <p><small>{{ trail.difficulty }}</small></p>
        </article>
      </li>
    {% endfor %}
  </ul>
{% endblock content %}
