{% macro trailCard(trail) %}
  <article>
    <header
      style="background-image: url('{{ trail.image_url }}'); background-size: cover; background-position: center; color: white; padding: 2rem 1rem"
    >
      <strong>{{ trail.title }}</strong>
    </header>
    <mark>{{ trail.difficulty }}</mark>
    <p>{{ trail.description }}</p>
    <a href="/trails/{{ trail.slug }}" role="button">View trail</a>
  </article>
{% endmacro %}
